.scrollable-section {
    overflow-x: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For IE/Edge */
  }
  
  .scrollable-section::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit */
  }


  .hover-scroll {
    overflow-x: auto;
    
  }

  .hover-scroll:hover {
    overflow-x: auto;
  }

  .hover-scroll::-webkit-scrollbar {
    display: none; /* Optional: hide scrollbar */
  }


  .bg-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to control the darkness */
    z-index: 1;
  }