.search-container {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF; /* Increased white color */
    border: 2px solid #49735A;
    border-radius: 8px;
    padding: 16px;
  }
  
  .search-container input,
  .search-container select {
    margin-right: 16px;
  }
  
  .search-container button {
    background-color: #49735A;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
  }
  

  @keyframes cardHover {
    0% {
      transform: translate(0, 0) scale(1) rotate(-5deg);
    }
    50% {
      transform: translate(360%, 65%) scale(1) rotate(360deg);
    }
    100% {
      transform: translate(0, 0) scale(1) rotate(-5deg);
    }
  }
  
  .card:hover {
    animation: cardHover 5s ease-in-out infinite;
  }
  